@page "/counter"

<h1>Suma, Resta, Multiplicación </h1>
<p>Primer número: 10, Segundo número: 10 </p>

<p>Suma: @Suma</p>
<p>Resta: @Resta</p>
<p>Multiplicación: @Multiplicar</p>

<button class="btn btn-primary" @onclick="Calcular">Calcular</button>

@code {
   
    float PrimerNumero = 10, SegundoNumero = 2, Suma = 0, Resta = 0, Multiplicar = 0;

    private void Calcular()
    {
        Math.Round(Suma = PrimerNumero + SegundoNumero, 2);
        Math.Round(Resta = PrimerNumero - SegundoNumero, 2);
        Math.Round(Multiplicar = PrimerNumero * SegundoNumero, 2);
    }
}
